<footer th:fragment="footerFragment" class="bg-dark text-light pt-5">
    <div class="container px-5">
        <div class="row">
            <div class="col-6 col-lg-4">
                <h4><a href="./index.html" class="link-light text-decoration-none pb-5"><img th:src="@{/images/eplogo.png}" alt="로고" style="width: 150px; height: 50px;"></a></h4>
                <p class="pt-2">From the latest popular works to classic masterpieces What genre do you recommend?</p>

            </div>
            <div class="col">
                <h4>Menu</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Home</li>
                    <li class="py-1">Shorts</li>
                    <li class="py-1">About</li>
                    <li class="py-1">Contact</li>
                </ul>
            </div>
            <div class="col">
                <h4>More</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Landing Pages</li>
                    <li class="py-1">FAQs</li>
                </ul>
            </div>
            <div class="col">
                <h4>Contact</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">haun011@naver.com</li>
                    <li class="py-1">eunjaewon@gmail.com</li>
                    <li class="py-1">dlrldus@gmail.com</li>
                    <li class="py-1">a01024632788@gmail.com</li>
                    <li class="py-1">minje0204@gmail.com</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 text-lg-end">
                <h4>OTT Media Link</h4>
                <div class="social-media pt-2">
                    <a th:href="@{https://www.tving.com/}" class="text-light fs-2 me-3"><img th:src="@{/images/tving_icon.png}" style="width: 30px;"></a>
                    <a th:href="@{https://www.disneyplus.com/}" class="text-light fs-2 me-3"><img th:src="@{/images/disney_icon.png}"></a>
                    <a th:href="@{https://www.netflix.com/}" class="text-light fs-2 me-3"><img th:src="@{/images/netflix_icon.png}"></a>
                    <a th:href="@{https://www.youtube.com/}" class="text-light fs-2"><img th:src="@{/images/youtube_icon.png}"></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-sm-flex justify-content-between py-1">
            <p>2023 © Coding Yaar. All Rights Reserved. </p>
            <p>
                <a href="#" class="text-light text-decoration-none pe-4">Terms of use</a>
                <a href="#" class="text-light text-decoration-none"> Privacy policy</a>
            </p>
        </div>
    </div>
</footer>