<!doctype html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/logoicon.ico">
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}">
    <!--  부트스트랩 CSS  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- 커스텀 CSS   -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis}"></script>
    <title>이젠 플레이</title>
</head>
<body>
<!--내비게이션 바 추가-->
<nav th:replace="~{layout/navbar :: navbarFragment}"></nav>
<!--기본 템플릿 안에 삽입될 내용 Start-->
<th:block layout:fragment="content"></th:block>
<!--푸터-->
<footer th:replace="~{layout/footer :: footerFragment}"></footer>
<!--기본 템플릿 안에 삽입될 내용 end-->
<!--    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>-->
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{/js/acordian_script.js}"></script>
<script th:src="@{/js/index_pj0001.js}"></script>
<script th:src="@{/js/movie.js}"></script>
<!--    자바스크립트-->
<th:block layout:fragment="script"></th:block>

</body>
</html>